<footer class="footer">
  <small>
    <a href="http://google.com">Some test link</a>
    by Cillian Murphy
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li-->
      <li><a href="http://google.com">Another test link</a></li>
    </ul>
  </nav>
</footer>
